<table>
  <tr>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
  </tr>
  <tr>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
  </tr>
  <tr>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
  </tr>
  <tr>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
  </tr>
  <tr>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
  </tr>
  <tr>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
  </tr>
  <tr>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
  </tr>
  <tr>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
    <app-black></app-black>
    <app-white></app-white>
  </tr>
</table>